:root {
  --text-color: rgb(205, 205, 29);
  --background-color: rgb(43, 46, 46);
  --box-bg-color: rgb(63, 67, 67);
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

img, h1, h2, h3 {
  color: var(--text-color);
}

h1 {
  display: flex;
  font-size: 50px;
  cursor: pointer;
}

#tic-header:hover, #toe-header:hover, #tac-header:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color);
  text-decoration-thickness: 10px;
}

#tic-header, #toe-header {
  margin: 0 10px;
}

#tac-header {
  margin: 0 10px;
}

h2, #x-marker, #o-marker {
  margin: 10px 0;
}

#x-marker, #o-marker {
  color: var(--text-color);
  cursor: pointer;
  font-weight: bolder;
}

#x-marker:hover, #o-marker:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color);
}

#container {
  display: flex;
  align-items: center;
}

#selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

#marker-selector {
  display: flex;
  font-size: 50px;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-color: var(--box-bg-color);
  border-radius: 20px;
}

#game-board {
  width: 400px;
  height: 400px;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.box {
  width: 130px;
  height: 130px;
  background-color: var(--box-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  cursor: pointer;
}

@media (max-width: 650px) {
  #container {
    flex-direction: column;
    justify-content: center;
  }

  #marker-selector {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #selector-container {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}